---
name: ElementCrosslink
---
<a className={props.className} href={props.link}>
    <div className="teaser sctnbgclr">
        <ResponsiveImage
            imageSrcSetS={props.imageSrcSetS}
            imageSrc={props.imageUrl || props.imageSrc}
            ratio="1.2"
            />
    </div>
    <div className="details">
            <div className="cite xscopy sctnbgclrAfter">
                        <div className="crosslink">
                            <svg className="icon" viewBox="0 0 20 20">
                                <use xlinkHref="/static/icons/sprite.svg#arrow" />
                            </svg>
                            {props.name}
                        </div>
                <span className="linebreak"></span>
                {props.title}
            </div>
    </div>
</a>